{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Section: news -->
<section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                <div class="animatedParent">
                <div class="section-heading text-center">
                <h2 class="h-bold animated bounceInDown">IN OUR NEWS</h2>
                <div class="divider-header"></div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animatedParent">
            <div class="col-sm-12 col-md-12 col-lg-12" >
                <div class="row gallery-item">
                    <div class="col-md-3 animated fadeInUp">
                        <a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/1.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3 animated fadeInUp slow">
                        <a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/2.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3 animated fadeInUp slower">
                        <a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/3.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3 animated fadeInUp">
                        <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                            <img src="img/works/4.jpg" class="img-responsive" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: news -->
{% endblock %}
