{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Section: services -->
<section id="service" class="home-section color-dark bg-gray">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                <div class="section-heading text-center">
                <h2 class="h-bold">What we can do for you</h2>
                <div class="divider-header"></div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>VISA</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slow">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>MASTER CARD</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>CHINA UNION PAY</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>ALI PAY</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>WECHAT PAY</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>AMEX</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>DINERS</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>JCB</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>SOFORT BANKING</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>ACH</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>POLi PAYMENT</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top: 10px">
                    <div class="animated rotateInDownLeft slower">
                    <div class="service-box">
                        <div class="service-desc">
                            <h5>PREPAID CARD & DIRECT PAYMENT</h5>
                            <div class="divider-header"></div>
                            <p>
                            Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                            </p>
                            <a href="#" class="btn btn-skin">Learn more</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- /Section: services -->
{% endblock %}
