<div class="row" style="margin-top: 100px">
        <div class="col-lg-2 col-lg-offset-1 animatedParent">
            <img src="{% static 'img/sofort.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/discovery.png' %}"></img>
        </div>
    <div class="row">
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/amex.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/visa.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/union.png' %}"></img>
        </div>
        <div class="col-lg-2  col-lg-offset-1 animatedParent">
            <img src="{% static 'img/poli1.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/mastercard.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/jcb.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/echeck.png' %}"></img>
        </div>
        <div class="col-lg-2 animatedParent">
            <img src="{% static 'img/diners.png' %}"></img>
        </div>
    </div>
</div>
