<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>SERVICES<li>
                        <li><a href="#">Visa</a></li>
                        <li><a href="#">Master Card</a></li>
                        <li><a href="#">China Union Pay</a></li>
                        <li><a href="#">AliPay</a></li>							
                        <li><a href="#">AliPay</a></li>							
                        <li><a href="#">WeChat Pay</a></li>							
                        <li><a href="#">AMEX</a></li>							
                        <li><a href="#">Diners</a></li>							
                        <li><a href="#">JCB</a></li>							
                        <li><a href="#">Sofortbanking</a></li>							
                        <li><a href="#">ACH</a></li>							
                        <li><a href="#">POLi Payment</a></li>							
                        <li><a href="#">Prepaid Card</a></li>							
                        <li><a href="#">Direct Banking Payout</a></li>							
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>POLICIES<li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Technical</a></li>
                        <li><a href="#">General Finance</a></li>
                        <li><a href="#">Others</a></li>							
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>CAREER<li>
                        <li><a href="#">Why Work at AwePay</a></li>
                        <li><a href="#">Our Culture</a></li>
                        <li><a href="#">Application Process</a></li>
                        <li><a href="#">Application Form</a></li>							
                        <li><a href="#">Diversity and Disclaimers</a></li>							
                        <li><a href="#">Terms of Service</a></li>  
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>	
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>CORPORATE<li>
                        <li><a href="#">Mission and Vision</a></li>
                        <li><a href="#">Executive Management</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">Certifications</a></li>
                    </ul>
                </div>					
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>NAVIGATION<li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact & support</a></li>
                        <li><a href="#">Enterprise</a></li>
                        <li><a href="#">Site status</a></li>
                    </ul>
                </div>

                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li>EXISTING MERCHANT<li>
                        <button class="btn btn-skin btn-scroll" href="https://admin.awepay.com/" target="_blank">AWEPAY GATEWAY</button><br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="muted pull-right">© 2012 Company Name. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
